In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import config

%load_ext google.cloud.bigquery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=config.GOOGLE_APPLICATION_CREDENTIALS

In [2]:
na = pd.read_pickle('natural_amenity_rank.pkl')
na = na.dropna()
na = na.drop_duplicates('ZIP')
na['ZIP'] = na['ZIP'].astype(int).astype(str).apply(lambda s : s.strip())
na.rename(columns = {'ZIP':'geo_id'}, inplace = True)

In [4]:
%%bigquery acs_2011
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2011_5yr`

In [9]:
%%bigquery acs_2012
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2012_5yr`

In [5]:
%%bigquery acs_2013
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2013_5yr`

In [6]:
%%bigquery acs_2014
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2014_5yr`

In [7]:
%%bigquery acs_2015
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2015_5yr`

In [8]:
%%bigquery acs_2016
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2016_5yr`

In [9]:
%%bigquery acs_2017
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2017_5yr`

In [10]:
%%bigquery acs_2018
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2018_5yr`

In [11]:
acs_list = [acs_2011, acs_2012,acs_2013,acs_2014,acs_2015,acs_2016,acs_2017,acs_2018]

In [12]:
columns = ['white_pop', 'black_pop','asian_pop', 'hispanic_pop','high_school_diploma',
'associates_degree', 'bachelors_degree','masters_degree']
for i, acs in enumerate(acs_list, 1):
    acs['total_pop'] = [1 if x ==0  else x for x in acs['total_pop']]
    acs['housing_units_renter_occupied'] = [1 if x ==0  else x for x in acs['housing_units_renter_occupied']]
    acs['year']= 2010 + i
    for column in columns:
        acs[column] = acs[column]/ acs['total_pop']
    acs['vacant_housing_units_for_rent'] = acs['vacant_housing_units_for_rent']/(acs['vacant_housing_units_for_rent']+acs['housing_units_renter_occupied'])
    acs.drop(columns= ['housing_units_renter_occupied'], inplace =True)
    acs.sort_values(by= ['geo_id'],inplace=True)

In [13]:
acs_2018['population_change'] = (acs_2018['total_pop'] - acs_2017['total_pop'])/ acs_2017['total_pop']
acs_2017['population_change'] = (acs_2017['total_pop'] - acs_2016['total_pop'])/ acs_2016['total_pop']

In [14]:
acs_2015['total_pop'] = acs_2015['total_pop'].astype(int)
acs_2016['population_change'] = (acs_2016['total_pop'] - acs_2015['total_pop'])/ acs_2015['total_pop']
acs_2015['population_change'] = (acs_2015['total_pop'] - acs_2014['total_pop'])/ acs_2014['total_pop']
acs_2014['population_change'] = (acs_2014['total_pop'] - acs_2013['total_pop'])/ acs_2013['total_pop']
acs_2013['population_change'] = (acs_2013['total_pop'] - acs_2012['total_pop'])/ acs_2012['total_pop']
acs_2012['population_change'] = (acs_2012['total_pop'] - acs_2011['total_pop'])/ acs_2011['total_pop']

In [15]:
combined_acs = pd.DataFrame()
for acs in acs_list:
    combined_acs = pd.concat([combined_acs, acs])

In [16]:
combined_acs

,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change
7572,00601,18533.0,35.2,0.00809367,0,0,0.990665,0.5508,6967,0.048416,35.1,NaN,NaN,NaN,NaN,2011,NaN
1433,00602,41930.0,37.4,0.0570713,0.00116861,0,0.935011,0.5224,7966,0.0763203,31.7,NaN,NaN,NaN,NaN,2011,NaN
11837,00603,54475.0,38.1,0.0251859,0.000146856,0.00225792,0.96503,0.5734,8842,0.121014,39.1,NaN,NaN,NaN,NaN,2011,NaN
7755,00606,6386.0,35.9,0,0.00281867,0,0.997181,0.5018,5746,0.0578662,26.1,NaN,NaN,NaN,NaN,2011,NaN
13052,00610,29111.0,38,0.00920614,0.000687026,0,0.988698,0.4659,7753,0.0472637,31.6,NaN,NaN,NaN,NaN,2011,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21495,99923,15.0,NaN,1,0,0,0,NaN,NaN,0,NaN,0,0,1,0,2018,-0.911243
29499,99925,927.0,43.6,0.464941,0.00323625,0,0.0280475,0.4032,25840,0.0892857,21.5,0.264293,0.0636462,0.0571737,0.0334412,2018,-0.629348
29585,99926,1635.0,34.5,0.13211,0,0.0134557,0.070948,0.4028,22453,0.0808824,18.2,0.178593,0.0324159,0.0409786,0.0207951,2018,-0.299486
21850,99927,38.0,55.5,1,0,0,0,0.3911,13658,0,NaN,0.236842,0,0.263158,0,2018,0.266667
5780,99929,2484.0,49.5,0.661031,0.000805153,0.0277778,0.0487118,0.4071,31489,0.107612,28.1,0.253221,0.0519324,0.105878,0.0438808,2018,-0.897211

In [17]:
combined_acs=pd.merge(combined_acs, na, how = 'left', on = 'geo_id')

In [18]:
combined_acs['natural_amenity_rank'] = combined_acs['natural_amenity_rank'].fillna(3)

In [24]:
combined_acs.sample(10)

,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank
6891,22576,1734.0,51.3,0.675894,0.311419,0,0,0.4795,23835,0,50,NaN,NaN,NaN,NaN,2011,NaN,4.0
236013,14560,2142.0,44.5,0.986461,0.00140056,0,0.00933707,0.3499,26500,0.0454545,24.4,0.137722,0.107376,0.112979,0.0723623,2018,1.387960,3.0
43741,32825,58250.0,31.9,0.384481,0.0783004,0.0505408,0.468876,0.402,22984,0.0803999,36.1,0.137957,0.079794,0.129047,0.0381116,2012,2.120982,5.0
219137,59937,13656.0,43.5,0.969903,7.32279e-05,0.0013181,0.00929994,0.4767,36255,0.147781,29.5,0.122217,0.0656122,0.233084,0.0675893,2017,1.781263,5.0
251095,56681,274.0,53,0.715328,0,0,0.0109489,0.4135,27935,0.0769231,21.3,0.270073,0.0547445,0.0656934,0.0145985,2018,-0.870816,2.0
201877,12120,587.0,49.6,0.962521,0,0,0.0272572,0.4152,32615,0,50,0.342419,0.11414,0.0528109,0.0630324,2017,0.644258,4.0
56394,67334,79.0,51.5,0.835443,0,0,0,0.4032,17832,0,29.2,0.43038,0.0632911,0.0379747,0.0253165,2012,-0.866554,4.0
92193,75158,4291.0,39,0.924726,0.00536006,0.00326264,0.0487066,0.3737,23524,0,26.7,0.185505,0.04591,0.0536006,0.0188767,2013,-0.300114,4.0
206757,25901,11325.0,43.8,0.91117,0.0716998,0,0.0108609,0.4237,20013,0.1,32.8,0.196645,0.0501545,0.0762914,0.0350552,2017,-0.023033,3.0
62779,87734,135.0,60.1,0.222222,0,0,0.585185,0.4389,17458,0.416667,NaN,0.725926,0,0,0,2012,-0.707158,6.0

In [20]:
combined_acs.to_pickle('acs_data.pkl')

In [22]:
combined_acs.loc[combined_acs['year']==2017]#.to_pickle('acs2017.pkl')
combined_acs.loc[combined_acs['year']==2018]#.to_pickle('acs2018.pkl')

In [25]:
combined_acs.to_csv('acs_data.csv')

In [10]:
acs_2012.sample(10)

,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,housing_units_renter_occupied,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree
41,20609,1066.0,40.8,969.0,1.0,0.0,1.0,0.4374,31295.0,23.0,51.0,49.1,335.0,17.0,50.0,26.0
1393,31535,12506.0,32.8,7450.0,3135.0,213.0,1612.0,0.4210,18477.0,31.0,1018.0,27.3,2516.0,620.0,564.0,187.0
364,24593,1827.0,40.1,1469.0,358.0,0.0,0.0,0.3297,27090.0,41.0,131.0,10.0,550.0,155.0,178.0,14.0
29461,79009,2117.0,27.2,324.0,23.0,0.0,1768.0,0.3539,13962.0,9.0,194.0,24.4,198.0,31.0,104.0,10.0
13389,52240,32052.0,27.3,25508.0,1632.0,1245.0,2944.0,0.4957,25992.0,291.0,6273.0,48.6,3288.0,1509.0,3971.0,1902.0
7799,75925,4609.0,40.9,3035.0,1164.0,2.0,245.0,0.4501,20352.0,31.0,457.0,32.2,1099.0,271.0,227.0,114.0
28597,32442,3582.0,45.7,3205.0,337.0,0.0,2.0,0.3734,18338.0,7.0,110.0,23.6,640.0,228.0,190.0,23.0
24684,70782,269.0,48.9,132.0,137.0,0.0,0.0,0.4468,24900.0,0.0,10.0,NaN,86.0,0.0,22.0,0.0
28290,11733,18236.0,42.8,14692.0,229.0,1545.0,1176.0,0.4494,53767.0,6.0,568.0,34.0,2103.0,800.0,2706.0,2471.0
31105,48427,3001.0,40.6,2770.0,8.0,0.0,138.0,0.4172,18839.0,15.0,247.0,32.7,855.0,155.0,156.0,50.0

In [11]:
acs_2011.shape

(33120, 16)

In [12]:
33120 * 8

264960

In [17]:
combined_acs= pd.read_pickle('acs_data.pkl')

In [18]:
combined_acs.shape

(264960, 18)

In [19]:
combined_acs.loc[combined_acs['year']==2017]

,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank
198720,00601,17599.0,38.9,0.00335246,0,0,0.99625,0.5706,7041,0.0250368,32.6,0.160918,0.0416501,0.10154,0.015285,2017,-0.620499,3.0
198721,00602,39209.0,40.9,0.0408835,0.0005866,0,0.936928,0.4973,8978,0.0923164,31.5,0.138132,0.0930909,0.0942131,0.0279783,2017,0.484571,3.0
198722,00603,50135.0,40.4,0.0101326,0.00321133,0.00333101,0.974668,0.5613,10897,0.0860202,29.1,0.169263,0.0487683,0.116845,0.0320136,2017,0.490649,3.0
198723,00606,6304.0,42.8,0.00190355,0,0,0.998096,0.4785,5960,0.015748,44.5,0.192259,0.0394987,0.0509201,0.0122145,2017,11.146435,3.0
198724,00610,27590.0,41.4,0.0206597,0.000543675,0,0.973179,0.4527,9266,0.154229,33.4,0.188655,0.0720188,0.0822037,0.0181225,2017,2.621685,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231835,99923,1.0,NaN,0,0,0,0,NaN,NaN,0,NaN,0,0,0,0,2017,-0.999306,3.0
231836,99925,901.0,45.1,0.447281,0.00221976,0,0.0266371,0.438,24783,0.0582524,24.5,0.264151,0.0299667,0.0410655,0.036626,2017,-0.026998,3.0
231837,99926,1684.0,32.8,0.118171,0,0.0142518,0.0766033,0.407,22927,0.0858896,18.5,0.177553,0.0267221,0.0457245,0.0184086,2017,0.240059,3.0
231838,99927,59.0,49.8,1,0,0,0,0.3459,11959,0,NaN,0.305085,0,0.152542,0,2017,-0.468468,3.0
231839,99929,2455.0,49,0.641548,0.00162933,0.0313646,0.0317719,0.3964,29861,0.10396,27.3,0.249287,0.0615071,0.0973523,0.0427699,2017,-0.894304,3.0