In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
zri = pd.read_csv('./data/df3.csv', index_col=0)
zri['MortDeliq30-89'] = zri['MortDeliq30-89'].fillna(zri['MortDeliq30-89'].mean())
zri['MortDeliq90'] = zri['MortDeliq90'].fillna(zri['MortDeliq90'].mean())
zri['education'] = zri['high_school_diploma'] + zri['associates_degree'] * 2 + zri['bachelors_degree'] * 3 +zri['masters_degree']* 4

In [11]:
zri['AGIncome'] = (zri['AGIncome']*1000)/zri['total_pop']
zri['TotIncome'] = (zri['TotIncome']*1000)/zri['total_pop']
zri['SalariesWages'] = (zri['SalariesWages']*1000)/zri['total_pop']
zri['NumUnemply'] =(zri['NumUnemply']*1000)/zri['total_pop']
zri['TotTaxes'] = (zri['TotTaxes']*1000)/zri['total_pop']

In [12]:
zri.columns

Index(['ZIPCODE', 'City', 'State', 'Metro', 'CountyName', 'SizeRank',
       'Year-Month', 'value', 'Month', 'Year', 'Season', 'AGIncome',
       'TotIncome', 'SalariesWages', 'NumUnemply', 'TotTaxes', 'FIPSCode',
       'Labor\nForce', 'Employed', 'Unemployed', 'Unemploy-\nment Rate\n(%)',
       'MortDeliq30-89', 'MortDeliq90', 'geo_id', 'total_pop', 'median_age',
       'white_pop', 'black_pop', 'asian_pop', 'hispanic_pop', 'gini_index',
       'income_per_capita', 'vacant_housing_units_for_rent',
       'percent_income_spent_on_rent', 'high_school_diploma',
       'associates_degree', 'bachelors_degree', 'masters_degree', 'year',
       'population_change', 'income_change', 'natural_amenity_rank',
       'education'],
      dtype='object')

In [13]:
dropped = [ 'City', 'State', 'Metro', 'CountyName', 'SizeRank',
       'Year-Month', 'value', 'Month', 'Year', 'year',  'geo_id', 'FIPSCode',
          'high_school_diploma', 'associates_degree', 'bachelors_degree',
       'masters_degree' , 'Employed', 'Unemployed', 'total_pop',
          'AGIncome','TotIncome', 'SalariesWages', 'Labor\nForce']

In [14]:
# value_2013 = zri.loc[zri['Year']==2013][['ZIPCODE', 'Month','value']].rename(columns = {'value' : 'value_2013'})
# value_2014 = zri.loc[zri['Year']==2014][['ZIPCODE', 'Month','value']].rename(columns = {'value' : 'value_2014'})
# value_2015 = zri.loc[zri['Year']==2015][['ZIPCODE', 'Month','value']].rename(columns = {'value' : 'value_2015'})
# value_2016 = zri.loc[zri['Year']==2016][['ZIPCODE', 'Month','value']].rename(columns = {'value' : 'value_2016'})
# value_2017 = zri.loc[zri['Year']==2017][['ZIPCODE', 'Month','value']].rename(columns = {'value' : 'value_2017'})
# value_2018 = zri.loc[zri['Year']==2018][['ZIPCODE', 'Month','value']].rename(columns = {'value' : 'value_2018'})
# value_2019 = zri.loc[zri['Year']==2019][['ZIPCODE', 'Month','value']].rename(columns = {'value' : 'value_2019'})

In [15]:
# train = pd.merge(zri.loc[zri['Year']==2015].rename(columns = {'value' : 'value_2015'}),
#                  zri.loc[zri['Year']==2016][['ZIPCODE', 'Month','value']],
#                  how = 'left', on = ['ZIPCODE', 'Month'])
# train = pd.merge(train, value_2014, how = 'left', on = ['ZIPCODE', 'Month'])
# # test = pd.merge(zri.loc[zri['Year']==2018].rename(columns = {'value' : 'value_2018'}),
#                 zri.loc[zri['Year']==2019][['ZIPCODE', 'Month','value']],
#                 how = 'left', on = ['ZIPCODE', 'Month'])
# test = pd.merge(test, value_2017, how = 'left', on = ['ZIPCODE', 'Month'])

In [16]:
train = pd.merge(zri.loc[zri['Year']==2015].rename(columns = {'value' : 'value_2015'}),
                 zri.loc[zri['Year']==2018][['ZIPCODE', 'Month','value']],
                 how = 'left', on = ['ZIPCODE', 'Month'])
test = pd.merge(zri.loc[zri['Year']==2016].rename(columns = {'value' : 'value_2016'}),
                zri.loc[zri['Year']==2019][['ZIPCODE', 'Month','value']],
                how = 'left', on = ['ZIPCODE', 'Month'])

In [17]:
train = train.dropna(subset=['value'])
train = train.replace(np.nan, 0)
test = test.dropna(subset=['value'])
test = test.replace(np.nan, 0)

In [18]:
X_train = train.drop(columns = dropped)
X_test = test.drop(columns = dropped)
y_train = train['value']
y_test = test['value']

In [19]:
X_train.columns

Index(['ZIPCODE', 'value_2015', 'Season', 'NumUnemply', 'TotTaxes',
       'Unemploy-\nment Rate\n(%)', 'MortDeliq30-89', 'MortDeliq90',
       'median_age', 'white_pop', 'black_pop', 'asian_pop', 'hispanic_pop',
       'gini_index', 'income_per_capita', 'vacant_housing_units_for_rent',
       'percent_income_spent_on_rent', 'population_change', 'income_change',
       'natural_amenity_rank', 'education'],
      dtype='object')

In [20]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, y_train)
print(lm.score(X_train, y_train))
lm.score(X_test, y_test)

0.9682540098937625

0.9189300463513415

In [24]:
zri[zri['Year']==2019]

,ZIPCODE,City,State,Metro,CountyName,SizeRank,Year-Month,value,Month,Year,...,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank,education
119322,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,2019-01-01,1723.0,1,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119324,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,2019-01-01,1255.0,1,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119325,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,2019-01-01,1872.0,1,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119327,77084,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,8,2019-01-01,1326.0,1,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119328,79936,El Paso,TX,El Paso,El Paso County,9,2019-01-01,898.0,1,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138268,75226,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,1852,2019-12-01,1435.0,12,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138269,12307,Schenectady,NY,Albany-Schenectady-Troy,Schenectady County,1853,2019-12-01,1039.0,12,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138270,78215,San Antonio,TX,San Antonio-New Braunfels,Bexar County,1854,2019-12-01,1186.0,12,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138271,2142,Cambridge,MA,Boston-Cambridge-Newton,Middlesex County,1855,2019-12-01,3102.0,12,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138272,84627,Ephraim,UT,NaN,Sanpete County,1858,2019-12-01,1298.0,12,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
lm.score(X_test, y_test)

0.9238434184279535

In [17]:
from sklearn.model_selection import cross_val_score

print(np.sqrt(-1* cross_val_score(lm, X_train, y_train, cv=5, scoring='neg_mean_squared_error', n_jobs =-1)))

[109.04348646 105.99073753 102.80874425 105.40239027 108.95477303]

In [77]:
#Imports
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

X_train.dropna()
X_train = X_train._get_numeric_data() #drop non-numeric cols

X_train.head()

,income_per_capita,median_age,white_pop,black_pop,asian_pop,hispanic_pop,Unemploy-\nment Rate\n(%),MortDeliq90,percent_income_spent_on_rent,bachelors_degree
0,68995.0,0.000442,0.540569,0.090324,0.097815,0.240713,4.1,0.7,29.4,0.227130
1,69983.0,0.000445,0.810379,0.028273,0.065603,0.067843,4.5,0.0,25.5,0.367145
2,69983.0,0.000445,0.810379,0.028273,0.065603,0.067843,5.1,1.9,25.5,0.367145
3,69983.0,0.000445,0.810379,0.028273,0.065603,0.067843,3.8,0.0,25.5,0.367145
4,114641.0,0.000693,0.720308,0.033488,0.108479,0.109406,4.1,0.7,23.9,0.257990

In [78]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X_train.values, i) for i in range(X_train.shape[1])]
vif["features"] = X_train.columns

In [79]:
vif.round(1)

   VIF Factor                      features
0        21.6             income_per_capita
1         2.6                    median_age
2        43.2                     white_pop
3         9.2                     black_pop
4         4.1                     asian_pop
5         9.6                  hispanic_pop
6        10.9     Unemploy-\nment Rate\n(%)
7         1.4                   MortDeliq90
8        71.4  percent_income_spent_on_rent
9        23.4              bachelors_degree

In [81]:
lm.coef_

array([ 2.29551599e-02, -2.56851486e+04, -1.88313559e+03, -1.85963390e+03,
        5.19366731e+01, -8.90554465e+02, -1.69158742e+00,  6.35209678e+01,
        2.94800649e+01,  9.80380315e+01])

0        False
1        False
2        False
3        False
4        False
         ...
66879    False
66880    False
66882    False
66883    False
66884    False
Name: value, Length: 54620, dtype: bool