In [1]:
#importing packages
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
plt.style.use('ggplot')
from scipy.stats import norm
from scipy import stats
%matplotlib inline

In [2]:
#so all DataFrame data is displayed
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',1000)

In [224]:
#load data
df = pd.read_csv('./data/df.csv', index_col=0)

In [280]:
df['MortDeliq30-89'].mean()

2.127322355027471

In [281]:
df['MortDeliq30-89'] = df['MortDeliq30-89'].fillna(df['MortDeliq30-89'].mean())
df['MortDeliq90'] = df['MortDeliq90'].fillna(df['MortDeliq90'].mean())

In [284]:
df[df['MortDeliq90'].isnull()]

Empty DataFrame
Columns: [ZIPCODE, City, State, Metro, CountyName, SizeRank, Year-Month, value, Month, Year, Season, AGIncome, TotIncome, SalariesWages, NumUnemply, TotTaxes, FIPSCode, Labor
Force, Employed, Unemployed, Unemploy-
ment Rate
(%), MortDeliq30-89, MortDeliq90, geo_id, total_pop, median_age, white_pop, black_pop, asian_pop, hispanic_pop, gini_index, income_per_capita, vacant_housing_units_for_rent, percent_income_spent_on_rent, high_school_diploma, associates_degree, bachelors_degree, masters_degree, year, population_change, natural_amenity_rank]
Index: []

In [318]:
df11 = df[df.Year > 2015]

In [319]:
df2 = df11[df11.Year < 2020]

In [83]:
df3 = df2[df2.Year < 2019]

In [322]:
df2.sample(5)

,ZIPCODE,City,State,Metro,CountyName,SizeRank,Year-Month,value,Month,Year,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,FIPSCode,Labor\nForce,Employed,Unemployed,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank
87309,80233,Northglenn,CO,Denver-Aurora-Lakewood,Adams County,631,2017-04-01,1396.0,4,2017.0,4,200595.833333,202524.500000,167252.833333,123.333333,5894.333333,8001.0,260525.0,252646.0,7879.0,3.0,2.3,0.6,80233.0,49492.0,33.0,0.623434,0.014932,0.031581,0.311323,0.3580,28492.0,0.047294,30.7,0.159298,0.062778,0.107149,0.028671,2017.0,0.186318,5.0
135570,65201,Columbia,MO,Columbia,Boone County,553,2019-11-01,806.0,11,2019.0,2,NaN,NaN,NaN,NaN,NaN,29019.0,98300.0,95937.0,2363.0,2.4,1.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68915,6855,Norwalk,CT,Bridgeport-Stamford-Norwalk,Fairfield County,1848,2016-03-01,1813.0,3,2016.0,4,70266.333333,71948.000000,46348.666667,26.666667,5981.000000,9001.0,480577.0,457145.0,23432.0,4.9,1.7,2.5,6855.0,7984.0,41.0,0.568763,0.155812,0.049098,0.213928,0.4594,44958.0,0.023857,30.3,0.138026,0.044589,0.236348,0.080912,2016.0,2.650663,3.0
89790,14212,Buffalo,NY,Buffalo-Cheektowaga-Niagara Falls,Erie County,1825,2017-05-01,739.0,5,2017.0,2,20434.333333,20575.333333,17416.500000,36.666667,328.666667,36029.0,444145.0,421301.0,22844.0,5.1,2.2,1.4,14212.0,10438.0,35.1,0.445104,0.370761,0.103085,0.037842,0.4879,15515.0,0.090909,45.5,0.165357,0.052500,0.054033,0.008814,2017.0,0.010064,3.0
90249,75074,Plano,TX,Dallas-Fort Worth-Arlington,Collin County,517,2017-06-01,1239.0,6,2017.0,3,233751.666667,236341.666667,188254.833333,95.000000,6505.500000,48085.0,532152.0,513771.0,18381.0,3.5,1.3,0.5,75074.0,48977.0,33.8,0.384507,0.114033,0.091512,0.379750,0.4204,28418.0,0.064194,28.0,0.114135,0.046634,0.156522,0.054291,2017.0,0.550936,4.0

In [85]:
df3[df3.AGIncome.isnull()].ZIPCODE.unique()

array([], dtype=int64)

In [72]:
len(df2[df2.Unemployed.isnull()])

0

In [86]:
len(df3[df3.MortDeliq90.isnull()])

6887

In [87]:
#show columns with missing values
len(df3[df3.bachelors_degree.isnull()])

0

In [129]:
len(df[df.value.isnull()])

0

In [137]:
df.shape

(139879, 41)

In [145]:
df.head()

,ZIPCODE,City,State,Metro,CountyName,SizeRank,Year-Month,value,Month,Year,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,FIPSCode,Labor\nForce,Employed,Unemployed,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank
0,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2010-09-01,2930.0,9,2010.0,1,NaN,NaN,NaN,NaN,NaN,36061.0,881204.0,805555.0,75649.0,8.6,1.3,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,2010-09-01,1447.0,9,2010.0,1,NaN,NaN,NaN,NaN,NaN,17031.0,2643831.0,2356470.0,287361.0,10.9,3.7,6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2010-09-01,2797.0,9,2010.0,1,NaN,NaN,NaN,NaN,NaN,36061.0,881204.0,805555.0,75649.0,8.6,1.3,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,2010-09-01,1437.0,9,2010.0,1,NaN,NaN,NaN,NaN,NaN,17031.0,2643831.0,2356470.0,287361.0,10.9,3.7,6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,79936,El Paso,TX,El Paso,El Paso County,9,2010-09-01,982.0,9,2010.0,1,NaN,NaN,NaN,NaN,NaN,48141.0,340841.0,309629.0,31212.0,9.2,5.9,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
X_train17 = df[df.Year ==2017].reset_index()

In [148]:
X_train17.shape

(18273, 42)

In [149]:
X_train17.head()

,index,ZIPCODE,City,State,Metro,CountyName,SizeRank,Year-Month,value,Month,Year,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,FIPSCode,Labor\nForce,Employed,Unemployed,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank
0,82203,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2017-01-01,3771.0,1,2017.0,2,1.222721e+06,1.247542e+06,7.633333e+05,208.333333,138435.833333,36061.0,916625.0,878936.0,37689.0,4.1,0.8,0.7,10025.0,94382.0,41.7,0.540569,0.090324,0.097815,0.240713,0.5942,68995.0,0.044332,29.4,0.063561,0.027569,0.227130,0.176167,2017.0,3.516101,3.0
1,82204,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,2017-01-01,1770.0,1,2017.0,2,8.573410e+05,8.710963e+05,6.170520e+05,161.666667,46717.166667,17031.0,2632107.0,2497953.0,134154.0,5.1,2.2,1.9,60657.0,70103.0,31.2,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,2017.0,2.035550,3.0
2,82205,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2017-01-01,3490.0,1,2017.0,2,2.270603e+06,2.299776e+06,1.031574e+06,145.000000,303624.166667,36061.0,916625.0,878936.0,37689.0,4.1,0.8,0.7,10023.0,61514.0,42.6,0.720308,0.033488,0.108479,0.109406,0.5630,114641.0,0.053383,23.9,0.047436,0.017541,0.257990,0.245017,2017.0,1.228203,3.0
3,82206,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,2017-01-01,1203.0,1,2017.0,2,1.021157e+06,1.032314e+06,8.244232e+05,300.000000,51148.166667,48157.0,375627.0,358184.0,17443.0,4.6,NaN,NaN,77494.0,105854.0,34.8,0.511828,0.071570,0.180296,0.210082,0.3699,48249.0,0.057867,26.5,0.051911,0.042341,0.223761,0.111106,2017.0,0.922800,3.0
4,82207,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,2017-01-01,1846.0,1,2017.0,2,1.355904e+06,1.376627e+06,7.573215e+05,120.000000,88250.333333,17031.0,2632107.0,2497953.0,134154.0,5.1,2.2,1.9,60614.0,70225.0,30.2,0.793848,0.042093,0.068466,0.067198,0.5200,73991.0,0.027554,24.1,0.034660,0.013670,0.347925,0.154859,2017.0,4.675665,3.0

In [138]:
y_train18 = df[df.Year ==2018]

In [131]:
len(y_train18[y_train18.value.isnull()])

0

In [139]:
y_train18.columns

Index(['ZIPCODE', 'City', 'State', 'Metro', 'CountyName', 'SizeRank',
       'Year-Month', 'value', 'Month', 'Year', 'Season', 'AGIncome',
       'TotIncome', 'SalariesWages', 'NumUnemply', 'TotTaxes', 'FIPSCode',
       'Labor\nForce', 'Employed', 'Unemployed', 'Unemploy-\nment Rate\n(%)',
       'MortDeliq30-89', 'MortDeliq90', 'geo_id', 'total_pop', 'median_age',
       'white_pop', 'black_pop', 'asian_pop', 'hispanic_pop', 'gini_index',
       'income_per_capita', 'vacant_housing_units_for_rent',
       'percent_income_spent_on_rent', 'high_school_diploma',
       'associates_degree', 'bachelors_degree', 'masters_degree', 'year',
       'population_change', 'natural_amenity_rank'],
      dtype='object')

In [140]:
y_train18 = y_train18.groupby(['ZIPCODE', 'Year-Month']).agg({'value':'mean'}).reset_index()

In [141]:
y_train18.shape

(18845, 3)

In [90]:
#2019 data for y_test
y_test19 = df[df.Year ==2019]

In [93]:
X_train17.head()

,ZIPCODE,City,State,Metro,CountyName,SizeRank,Year-Month,value,Month,Year,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,FIPSCode,Labor\nForce,Employed,Unemployed,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank
82203,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2017-01-01,3771.0,1,2017.0,2,1.222721e+06,1.247542e+06,7.633333e+05,208.333333,138435.833333,36061.0,916625.0,878936.0,37689.0,4.1,0.8,0.7,10025.0,94382.0,41.7,0.540569,0.090324,0.097815,0.240713,0.5942,68995.0,0.044332,29.4,0.063561,0.027569,0.227130,0.176167,2017.0,3.516101,3.0
82204,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,2017-01-01,1770.0,1,2017.0,2,8.573410e+05,8.710963e+05,6.170520e+05,161.666667,46717.166667,17031.0,2632107.0,2497953.0,134154.0,5.1,2.2,1.9,60657.0,70103.0,31.2,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,2017.0,2.035550,3.0
82205,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2017-01-01,3490.0,1,2017.0,2,2.270603e+06,2.299776e+06,1.031574e+06,145.000000,303624.166667,36061.0,916625.0,878936.0,37689.0,4.1,0.8,0.7,10023.0,61514.0,42.6,0.720308,0.033488,0.108479,0.109406,0.5630,114641.0,0.053383,23.9,0.047436,0.017541,0.257990,0.245017,2017.0,1.228203,3.0
82206,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,2017-01-01,1203.0,1,2017.0,2,1.021157e+06,1.032314e+06,8.244232e+05,300.000000,51148.166667,48157.0,375627.0,358184.0,17443.0,4.6,NaN,NaN,77494.0,105854.0,34.8,0.511828,0.071570,0.180296,0.210082,0.3699,48249.0,0.057867,26.5,0.051911,0.042341,0.223761,0.111106,2017.0,0.922800,3.0
82207,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,2017-01-01,1846.0,1,2017.0,2,1.355904e+06,1.376627e+06,7.573215e+05,120.000000,88250.333333,17031.0,2632107.0,2497953.0,134154.0,5.1,2.2,1.9,60614.0,70225.0,30.2,0.793848,0.042093,0.068466,0.067198,0.5200,73991.0,0.027554,24.1,0.034660,0.013670,0.347925,0.154859,2017.0,4.675665,3.0

In [94]:
X_train17.shape

(18273, 41)

In [96]:
y_train18.shape

(25968, 40)

# Cleaning columns 
- removing unnecessary columns

In [285]:
train = pd.merge(df.loc[df['Year']==2017].drop(columns = ['value']),
                 df.loc[df['Year']==2018][['ZIPCODE', 'Month','value']],
                 how = 'left', on = ['ZIPCODE', 'Month'])

In [286]:
train.columns[train.isnull().any()]

Index(['Metro', 'value'], dtype='object')

In [287]:
#IRS number in thousands - tranform to per capita 
train['AGIncome'] = (train['AGIncome']*1000)/train['total_pop']
train['TotIncome'] = (train['TotIncome']*1000)/train['total_pop']
train['SalariesWages'] = (train['SalariesWages']*1000)/train['total_pop']
train['NumUnemply'] =(train['NumUnemply']*1000)/train['total_pop']
train['TotTaxes'] = (train['TotTaxes']*1000)/train['total_pop']
train = train.replace(np.nan, 0)

In [288]:
train.columns

Index(['ZIPCODE', 'City', 'State', 'Metro', 'CountyName', 'SizeRank',
       'Year-Month', 'Month', 'Year', 'Season', 'AGIncome', 'TotIncome',
       'SalariesWages', 'NumUnemply', 'TotTaxes', 'FIPSCode', 'Labor\nForce',
       'Employed', 'Unemployed', 'Unemploy-\nment Rate\n(%)', 'MortDeliq30-89',
       'MortDeliq90', 'geo_id', 'total_pop', 'median_age', 'white_pop',
       'black_pop', 'asian_pop', 'hispanic_pop', 'gini_index',
       'income_per_capita', 'vacant_housing_units_for_rent',
       'percent_income_spent_on_rent', 'high_school_diploma',
       'associates_degree', 'bachelors_degree', 'masters_degree', 'year',
       'population_change', 'natural_amenity_rank', 'value'],
      dtype='object')

In [289]:
#drop columns to test
train.drop(columns = ['SizeRank', 'City', 'State', 'Metro', 'CountyName',\
                        'Month', 'Year','Labor\nForce','Employed', 'Unemployed',\
                        'Year-Month'], inplace=True)


train.columns

Index(['ZIPCODE', 'Season', 'AGIncome', 'TotIncome', 'SalariesWages',
       'NumUnemply', 'TotTaxes', 'FIPSCode', 'Unemploy-\nment Rate\n(%)',
       'MortDeliq30-89', 'MortDeliq90', 'geo_id', 'total_pop', 'median_age',
       'white_pop', 'black_pop', 'asian_pop', 'hispanic_pop', 'gini_index',
       'income_per_capita', 'vacant_housing_units_for_rent',
       'percent_income_spent_on_rent', 'high_school_diploma',
       'associates_degree', 'bachelors_degree', 'masters_degree', 'year',
       'population_change', 'natural_amenity_rank', 'value'],
      dtype='object')

In [290]:
train.drop(columns = ['ZIPCODE', 'FIPSCode', 'geo_id'], inplace=True)

In [291]:
train.columns

Index(['Season', 'AGIncome', 'TotIncome', 'SalariesWages', 'NumUnemply',
       'TotTaxes', 'Unemploy-\nment Rate\n(%)', 'MortDeliq30-89',
       'MortDeliq90', 'total_pop', 'median_age', 'white_pop', 'black_pop',
       'asian_pop', 'hispanic_pop', 'gini_index', 'income_per_capita',
       'vacant_housing_units_for_rent', 'percent_income_spent_on_rent',
       'high_school_diploma', 'associates_degree', 'bachelors_degree',
       'masters_degree', 'year', 'population_change', 'natural_amenity_rank',
       'value'],
      dtype='object')

### Train Test

In [292]:
train.head(0)

Empty DataFrame
Columns: [Season, AGIncome, TotIncome, SalariesWages, NumUnemply, TotTaxes, Unemploy-
ment Rate
(%), MortDeliq30-89, MortDeliq90, total_pop, median_age, white_pop, black_pop, asian_pop, hispanic_pop, gini_index, income_per_capita, vacant_housing_units_for_rent, percent_income_spent_on_rent, high_school_diploma, associates_degree, bachelors_degree, masters_degree, year, population_change, natural_amenity_rank, value]
Index: []

In [293]:
X_train = train.drop(columns = ['value'])

In [294]:
y_train = train['value']

In [295]:
X_train.shape

(18273, 26)

In [296]:
y_train.shape

(18273,)

In [297]:
X_train = X_train.apply(pd.to_numeric)

In [298]:
#replace nan with 0 
X_train = X_train.replace(np.nan, 0)
X_train.head()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank
0,2,12955.026735,13218.012969,8087.700338,2.207342,1466.760964,4.1,0.800000,0.700000,94382.0,41.7,0.540569,0.090324,0.097815,0.240713,0.5942,68995.0,0.044332,29.4,0.063561,0.027569,0.227130,0.176167,2017.0,3.516101,3.0
1,2,12229.733392,12425.949436,8802.076944,2.306131,666.407524,5.1,2.200000,1.900000,70103.0,31.2,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,2017.0,2.035550,3.0
2,2,36911.968549,37386.221023,16769.735345,2.357187,4935.854711,4.1,0.800000,0.700000,61514.0,42.6,0.720308,0.033488,0.108479,0.109406,0.5630,114641.0,0.053383,23.9,0.047436,0.017541,0.257990,0.245017,2017.0,1.228203,3.0
3,2,9646.843766,9752.248380,7788.304331,2.834092,483.195408,4.6,2.127322,2.155775,105854.0,34.8,0.511828,0.071570,0.180296,0.210082,0.3699,48249.0,0.057867,26.5,0.051911,0.042341,0.223761,0.111106,2017.0,0.922800,3.0
4,2,19307.990981,19603.087694,10784.215023,1.708793,1256.679720,5.1,2.200000,1.900000,70225.0,30.2,0.793848,0.042093,0.068466,0.067198,0.5200,73991.0,0.027554,24.1,0.034660,0.013670,0.347925,0.154859,2017.0,4.675665,3.0

In [191]:
#stop
train_set = pd.concat([X_train, y_train18['value']], axis=1)

In [192]:
train_set.head()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,value
0,2.0,1.222721e+06,1.247542e+06,8087.700338,208.333333,1466.760964,4.1,0.8,0.7,94382.0,0.000442,0.540569,0.090324,0.097815,0.240713,0.5942,68995.0,0.044332,29.4,0.063561,0.027569,0.227130,0.176167,3727.0
1,2.0,8.573410e+05,8.710963e+05,8802.076944,161.666667,666.407524,4.5,0.0,0.0,70103.0,0.000445,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,1735.0
2,2.0,8.573410e+05,8.710963e+05,8802.076944,161.666667,666.407524,5.1,2.2,1.9,70103.0,0.000445,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,1735.0
3,2.0,8.573410e+05,8.710963e+05,8802.076944,161.666667,666.407524,3.8,0.0,0.0,70103.0,0.000445,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,1735.0
4,2.0,2.270603e+06,2.299776e+06,16769.735345,145.000000,4935.854711,4.1,0.8,0.7,61514.0,0.000693,0.720308,0.033488,0.108479,0.109406,0.5630,114641.0,0.053383,23.9,0.047436,0.017541,0.257990,0.245017,3609.0

In [193]:
train_set.head()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,value
0,2.0,1.222721e+06,1.247542e+06,8087.700338,208.333333,1466.760964,4.1,0.8,0.7,94382.0,0.000442,0.540569,0.090324,0.097815,0.240713,0.5942,68995.0,0.044332,29.4,0.063561,0.027569,0.227130,0.176167,3727.0
1,2.0,8.573410e+05,8.710963e+05,8802.076944,161.666667,666.407524,4.5,0.0,0.0,70103.0,0.000445,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,1735.0
2,2.0,8.573410e+05,8.710963e+05,8802.076944,161.666667,666.407524,5.1,2.2,1.9,70103.0,0.000445,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,1735.0
3,2.0,8.573410e+05,8.710963e+05,8802.076944,161.666667,666.407524,3.8,0.0,0.0,70103.0,0.000445,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,1735.0
4,2.0,2.270603e+06,2.299776e+06,16769.735345,145.000000,4935.854711,4.1,0.8,0.7,61514.0,0.000693,0.720308,0.033488,0.108479,0.109406,0.5630,114641.0,0.053383,23.9,0.047436,0.017541,0.257990,0.245017,3609.0

In [194]:
corr2 = train_set.corr()
corr2

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,value
Season,1.000000,-0.000617,-0.000609,-0.000881,0.000235,0.001057,0.002249,-0.001409,0.018757,-0.000910,0.001013,-0.001412,0.000025,-0.001161,0.002617,0.001553,0.000112,-0.001025,0.004347,-0.002682,-0.005193,-0.000073,0.000992,-0.008546
AGIncome,-0.000617,1.000000,0.999980,0.652783,0.175342,0.684461,-0.033315,0.000642,0.003830,0.345320,-0.202672,0.196404,-0.267182,0.282490,-0.117118,0.129280,0.669513,-0.126474,-0.309895,-0.426642,-0.180916,0.510212,0.511162,0.422737
TotIncome,-0.000609,0.999980,1.000000,0.653982,0.174219,0.685473,-0.033271,0.000263,0.003369,0.344320,-0.202254,0.198013,-0.268040,0.282632,-0.118446,0.130623,0.671468,-0.126750,-0.310163,-0.428806,-0.181398,0.512347,0.513236,0.423550
SalariesWages,-0.000881,0.652783,0.653982,1.000000,-0.164225,0.807314,-0.074624,-0.019529,-0.025653,-0.213795,0.313191,0.326494,-0.305534,0.329640,-0.274833,0.184711,0.943228,-0.075433,-0.510366,-0.604610,-0.255457,0.796097,0.783213,0.512034
NumUnemply,0.000235,0.175342,0.174219,-0.164225,1.000000,-0.089386,0.059195,0.077149,0.079940,0.659568,-0.385430,-0.260670,-0.058392,0.087911,0.360035,-0.277538,-0.180384,-0.192906,0.109237,0.272306,0.055021,-0.250087,-0.267582,0.171270
TotTaxes,0.001057,0.684461,0.685473,0.807314,-0.089386,1.000000,-0.034334,-0.013221,0.011002,-0.127174,0.199842,0.231569,-0.221383,0.269293,-0.206751,0.248537,0.798563,-0.095344,-0.261945,-0.460519,-0.240648,0.550895,0.588973,0.534581
Unemploy-\nment Rate\n(%),0.002249,-0.033315,-0.033271,-0.074624,0.059195,-0.034334,1.000000,0.011791,0.037164,0.057002,-0.016576,-0.048183,0.056815,-0.078053,0.054527,0.051878,-0.076607,0.003012,0.069582,0.095169,0.013225,-0.094822,-0.079000,-0.047680
MortDeliq30-89,-0.001409,0.000642,0.000263,-0.019529,0.077149,-0.013221,0.011791,1.000000,0.920250,0.072311,-0.014612,-0.185596,0.077924,0.018633,0.166165,0.070816,-0.034522,0.046836,0.089939,0.069308,-0.023603,-0.050232,-0.050192,0.070872
MortDeliq90,0.018757,0.003830,0.003369,-0.025653,0.079940,0.011002,0.037164,0.920250,1.000000,0.087311,-0.014884,-0.204250,0.104466,0.046386,0.148830,0.082655,-0.039232,0.019274,0.130368,0.119256,-0.006915,-0.072821,-0.051028,0.134374
total_pop,-0.000910,0.345320,0.344320,-0.213795,0.659568,-0.127174,0.057002,0.072311,0.087311,1.000000,-0.598663,-0.280914,-0.009902,0.099028,0.343499,-0.212865,-0.211611,-0.112219,0.143339,0.122027,-0.003634,-0.219008,-0.223505,0.063537
median_age,0.001013,-0.202672,-0.202254,0.313191,-0.385430,0.199842,-0.016576,-0.014612,-0.014884,-0.598663,1.000000,0.178874,-0.016728,-0.023321,-0.199840,0.099684,0.296022,0.134508,-0.152313,-0.101364,0.036122,0.252524,0.232786,0.039622
white_pop,-0.001412,0.196404,0.198013,0.326494,-0.260670,0.231569,-0.048183,-0.185596,-0.204250,-0.280914,0.178874,1.000000,-0.601149,-0.139705,-0.638516,0.007232,0.420079,-0.110977,-0.444826,-0.220548,0.209441,0.463877,0.400459,-0.096904
black_pop,0.000025,-0.267182,-0.268040,-0.305534,-0.058392,-0.221383,0.056815,0.077924,0.104466,-0.009902,-0.016728,-0.601149,1.000000,-0.230349,-0.097783,0.220703,-0.338623,0.261704,0.380221,0.226999,-0.037849,-0.351175,-0.271047,-0.223316
asian_pop,-0.001161,0.282490,0.282632,0.329640,0.087911,0.269293,-0.078053,0.018633,0.046386,0.099028,-0.023321,-0.139705,-0.230349,1.000000,-0.078008,-0.048272,0.309543,-0.162688,-0.100722,-0.360504,-0.145793,0.335483,0.402084,0.466983
hispanic_pop,0.002617,-0.117118,-0.118446,-0.274833,0.360035,-0.206751,0.054527,0.166165,0.148830,0.343499,-0.199840,-0.638516,-0.097783,-0.078008,1.000000,-0.174456,-0.350267,-0.031314,0.283543,0.252062,-0.165415,-0.408966,-0.437388,0.128134
gini_index,0.001553,0.129280,0.130623,0.184711,-0.277538,0.248537,0.051878,0.070816,0.082655,-0.212865,0.099684,0.007232,0.220703,-0.048272,-0.174456,1.000000,0.220260,0.141546,0.232089,-0.254937,-0.332681,0.167803,0.183979,0.066607
income_per_capita,0.000112,0.669513,0.671468,0.943228,-0.180384,0.798563,-0.076607,-0.034522,-0.039232,-0.211611,0.296022,0.420079,-0.338623,0.309543,-0.350267,0.220260,1.000000,-0.101927,-0.518549,-0.647599,-0.233670,0.859896,0.856809,0.507090
vacant_housing_units_for_rent,-0.001025,-0.126474,-0.126750,-0.075433,-0.192906,-0.095344,0.003012,0.046836,0.019274,-0.112219,0.134508,-0.110977,0.261704,-0.162688,-0.031314,0.141546,-0.101927,1.000000,0.114813,0.098623,0.102911,-0.121299,-0.130991,-0.290201
percent_income_spent_on_rent,0.004347,-0.309895,-0.310163,-0.510366,0.109237,-0.261945,0.069582,0.089939,0.130368,0.143339,-0.152313,-0.444826,0.380221,-0.100722,0.283543,0.232089,-0.518549,0.114813,1.000000,0.311785,0.011549,-0.558253,-0.488809,-0.047478
high_school_diploma,-0.002682,-0.426642,-0.428806,-0.604610,0.272306,-0.460519,0.095169,0.069308,0.119256,0.122027,-0.101364,-0.220548,0.226999,-0.360504,0.252062,-0.254937,-0.647599,0.098623,0.311785,1.000000,0.378655,-0.729565,-0.736943,-0.314833
associates_degree,-0.005193,-0.180916,-0.181398,-0.255457,0.055021,-0.240648,0.013225,-0.023603,-0.006915,-0.003634,0.036122,0.209441,-0.037849,-0.145793,-0.165415,-0.332681,-0.233670,0.102911,0.011549,0.378655,1.000000,-0.166906,-0.290011,-0.242445
bachelors_degree,-0.000073,0.510212,0.512347,0.796097,-0.250087,0.550895,-0.094822,-0.050232,-0.072821,-0.219008,0.252524,0.463877,-0.351175,0.335483,-0.408966,0.167803,0.859896,-0.121299,-0.558253,-0.729565,-0.166906,1.000000,0.846911,0.394906
masters_degree,0.000992,0.511162,0.513236,0.783213,-0.267582,0.588973,-0.079000,-0.050192,-0.051028,-0.223505,0.232786,0.400459,-0.271047,0.402084,-0.437388,0.183979,0.856809,-0.130991,-0.488809,-0.736943,-0.290011,0.846911,1.000000,0.443502
value,-0.008546,0.422737,0.423550,0.512034,0.171270,0.534581,-0.047680,0.070872,0.134374,0.063537,0.039622,-0.096904,-0.223316,0.466983,0.128134,0.066607,0.507090,-0.290201,-0.047478,-0.314833,-0.242445,0.394906,0.443502,1.000000

In [195]:
train_set2 = train_set.copy()

In [196]:
train_set2.columns

Index(['Season', 'AGIncome', 'TotIncome', 'SalariesWages', 'NumUnemply',
       'TotTaxes', 'Unemploy-\nment Rate\n(%)', 'MortDeliq30-89',
       'MortDeliq90', 'total_pop', 'median_age', 'white_pop', 'black_pop',
       'asian_pop', 'hispanic_pop', 'gini_index', 'income_per_capita',
       'vacant_housing_units_for_rent', 'percent_income_spent_on_rent',
       'high_school_diploma', 'associates_degree', 'bachelors_degree',
       'masters_degree', 'value'],
      dtype='object')

In [236]:
train_set2.drop(columns = ['total_pop', 'median_age', 'white_pop', 'black_pop',\
                           'asian_pop', 'hispanic_pop', 'gini_index', 'income_per_capita',\
                           'vacant_housing_units_for_rent', 'percent_income_spent_on_rent',\
                           'high_school_diploma', 'associates_degree', 'bachelors_degree',\
                           'masters_degree', 'value'], inplace=True)
train_set2.tail()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90
66883,2.0,21424.666667,21893.0,6438.812785,6.666667,375.277234,5.1,1.9,1.6
66884,2.0,21424.666667,21893.0,6438.812785,6.666667,375.277234,3.8,0.0,0.0
66885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
train_set3 = train_set.copy()

In [239]:
train_set3.drop(columns = ['AGIncome', 'TotIncome', 'SalariesWages', 'NumUnemply','TotTaxes', 'Unemploy-\nment Rate\n(%)', 'MortDeliq30-89','MortDeliq90'], inplace=True)
train_set3.tail()

,Season,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,value
66883,2.0,2555.0,0.01589,0.519374,0.217613,0.111546,0.103327,0.4607,62126.0,0.076183,27.8,0.032094,0.040705,0.235616,0.18317,1420.0
66884,2.0,2555.0,0.01589,0.519374,0.217613,0.111546,0.103327,0.4607,62126.0,0.076183,27.8,0.032094,0.040705,0.235616,0.18317,1420.0
66885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [240]:
# convert all columns of DataFrame
train_set3 = train_set3.apply(pd.to_numeric) # convert all columns of DataFrame

In [241]:
train_set3.corr()

,Season,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,value
Season,1.000000,-0.000910,0.001013,-0.001412,0.000025,-0.001161,0.002617,0.001553,0.000112,-0.001025,0.004347,-0.002682,-0.005193,-0.000073,0.000992,-0.008546
total_pop,-0.000910,1.000000,-0.598663,-0.280914,-0.009902,0.099028,0.343499,-0.212865,-0.211611,-0.112219,0.143339,0.122027,-0.003634,-0.219008,-0.223505,0.063537
median_age,0.001013,-0.598663,1.000000,0.178874,-0.016728,-0.023321,-0.199840,0.099684,0.296022,0.134508,-0.152313,-0.101364,0.036122,0.252524,0.232786,0.039622
white_pop,-0.001412,-0.280914,0.178874,1.000000,-0.601149,-0.139705,-0.638516,0.007232,0.420079,-0.110977,-0.444826,-0.220548,0.209441,0.463877,0.400459,-0.096904
black_pop,0.000025,-0.009902,-0.016728,-0.601149,1.000000,-0.230349,-0.097783,0.220703,-0.338623,0.261704,0.380221,0.226999,-0.037849,-0.351175,-0.271047,-0.223316
asian_pop,-0.001161,0.099028,-0.023321,-0.139705,-0.230349,1.000000,-0.078008,-0.048272,0.309543,-0.162688,-0.100722,-0.360504,-0.145793,0.335483,0.402084,0.466983
hispanic_pop,0.002617,0.343499,-0.199840,-0.638516,-0.097783,-0.078008,1.000000,-0.174456,-0.350267,-0.031314,0.283543,0.252062,-0.165415,-0.408966,-0.437388,0.128134
gini_index,0.001553,-0.212865,0.099684,0.007232,0.220703,-0.048272,-0.174456,1.000000,0.220260,0.141546,0.232089,-0.254937,-0.332681,0.167803,0.183979,0.066607
income_per_capita,0.000112,-0.211611,0.296022,0.420079,-0.338623,0.309543,-0.350267,0.220260,1.000000,-0.101927,-0.518549,-0.647599,-0.233670,0.859896,0.856809,0.507090
vacant_housing_units_for_rent,-0.001025,-0.112219,0.134508,-0.110977,0.261704,-0.162688,-0.031314,0.141546,-0.101927,1.000000,0.114813,0.098623,0.102911,-0.121299,-0.130991,-0.290201
percent_income_spent_on_rent,0.004347,0.143339,-0.152313,-0.444826,0.380221,-0.100722,0.283543,0.232089,-0.518549,0.114813,1.000000,0.311785,0.011549,-0.558253,-0.488809,-0.047478
high_school_diploma,-0.002682,0.122027,-0.101364,-0.220548,0.226999,-0.360504,0.252062,-0.254937,-0.647599,0.098623,0.311785,1.000000,0.378655,-0.729565,-0.736943,-0.314833
associates_degree,-0.005193,-0.003634,0.036122,0.209441,-0.037849,-0.145793,-0.165415,-0.332681,-0.233670,0.102911,0.011549,0.378655,1.000000,-0.166906,-0.290011,-0.242445
bachelors_degree,-0.000073,-0.219008,0.252524,0.463877,-0.351175,0.335483,-0.408966,0.167803,0.859896,-0.121299,-0.558253,-0.729565,-0.166906,1.000000,0.846911,0.394906
masters_degree,0.000992,-0.223505,0.232786,0.400459,-0.271047,0.402084,-0.437388,0.183979,0.856809,-0.130991,-0.488809,-0.736943,-0.290011,0.846911,1.000000,0.443502
value,-0.008546,0.063537,0.039622,-0.096904,-0.223316,0.466983,0.128134,0.066607,0.507090,-0.290201,-0.047478,-0.314833,-0.242445,0.394906,0.443502,1.000000

In [242]:
train_set3 = train_set3.dropna(subset=['value'])

In [243]:
#sns.pairplot(train_set3)

In [ ]:
train_set2 = train_set2.dropna(subset=['value'])

In [96]:
train_set2.shape

(54614, 10)

In [244]:
#sns.pairplot(train_set2)

In [245]:
corr['value'].sort_values(ascending=False)

value                            1.000000
TotTaxes                         0.515373
income_per_capita                0.507090
asian_pop                        0.466983
SalariesWages                    0.444746
masters_degree                   0.443502
TotIncome                        0.423550
AGIncome                         0.422737
bachelors_degree                 0.394906
NumUnemply                       0.171270
MortDeliq90                      0.134374
hispanic_pop                     0.128134
MortDeliq30-89                   0.070872
gini_index                       0.066607
total_pop                        0.063537
median_age                       0.039622
Season                          -0.008546
percent_income_spent_on_rent    -0.047478
Unemploy-\nment Rate\n(%)       -0.047680
white_pop                       -0.096904
black_pop                       -0.223316
associates_degree               -0.242445
vacant_housing_units_for_rent   -0.290201
high_school_diploma             -0.314833
Name: value, dtype: float64

# Test Data

In [231]:
df[df['year']==2019]

Empty DataFrame
Columns: [ZIPCODE, City, State, Metro, CountyName, SizeRank, Year-Month, value, Month, Year, Season, AGIncome, TotIncome, SalariesWages, NumUnemply, TotTaxes, FIPSCode, Labor
Force, Employed, Unemployed, Unemploy-
ment Rate
(%), MortDeliq30-89, MortDeliq90, geo_id, total_pop, median_age, white_pop, black_pop, asian_pop, hispanic_pop, gini_index, income_per_capita, vacant_housing_units_for_rent, percent_income_spent_on_rent, high_school_diploma, associates_degree, bachelors_degree, masters_degree, year, population_change, natural_amenity_rank]
Index: []

In [299]:
test = pd.merge(df.loc[df['Year']==2018].drop(columns = ['value']),
                df.loc[df['Year']==2019][['ZIPCODE', 'Month','value']],
                how = 'left', on = ['ZIPCODE', 'Month'])

In [300]:
test.head()

,ZIPCODE,City,State,Metro,CountyName,SizeRank,Year-Month,Month,Year,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,FIPSCode,Labor\nForce,Employed,Unemployed,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank,value
0,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2018-01-01,1,2018.0,2,1.338135e+06,1.362983e+06,8.031643e+05,198.333333,17238.333333,36061.0,914163.0,880074.0,34089.0,3.7,0.900000,0.700000,10025.0,92805.0,41.3,0.546037,0.099100,0.089122,0.234212,0.5968,72802.0,0.045678,28.2,0.061936,0.026087,0.216281,0.167114,2018.0,6.919867,3.0,3509.0
1,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,2018-01-01,1,2018.0,2,9.383310e+05,9.521218e+05,6.570033e+05,131.666667,13979.833333,17031.0,2602134.0,2494216.0,107918.0,4.1,2.100000,1.600000,60657.0,70052.0,31.2,0.805002,0.025281,0.068977,0.069962,0.4956,73513.0,0.046661,25.4,0.030049,0.025824,0.363173,0.168346,2018.0,0.807234,3.0,1723.0
2,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2018-01-01,1,2018.0,2,2.065178e+06,2.094322e+06,1.032039e+06,148.333333,25736.000000,36061.0,914163.0,880074.0,34089.0,3.7,0.900000,0.700000,10023.0,62435.0,43.3,0.724626,0.037607,0.106303,0.105101,0.5604,119276.0,0.050869,24.0,0.046673,0.018419,0.262305,0.243661,2018.0,2.592348,3.0,3515.0
3,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,2018-01-01,1,2018.0,2,1.056339e+06,1.065394e+06,8.502032e+05,196.666667,13483.833333,48157.0,386546.0,371320.0,15226.0,3.9,2.127322,2.155775,77494.0,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,2018.0,5.879801,3.0,1255.0
4,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,2018-01-01,1,2018.0,2,1.594278e+06,1.615116e+06,8.222205e+05,98.333333,19370.333333,17031.0,2602134.0,2494216.0,107918.0,4.1,2.100000,1.600000,60614.0,71308.0,30.3,0.796012,0.039182,0.074073,0.060540,0.5315,82845.0,0.026565,24.1,0.032717,0.013449,0.342865,0.161553,2018.0,0.428646,3.0,1872.0

In [301]:
test.columns[test.isnull().any()]

Index(['Metro', 'value'], dtype='object')

In [302]:
test = test.dropna(subset=['value'])

In [303]:
test['AGIncome'] = (test['AGIncome']*1000)/test['total_pop']
test['TotIncome'] = (test['TotIncome']*1000)/test['total_pop']
test['SalariesWages'] = (test['SalariesWages']*1000)/test['total_pop']
test['NumUnemply'] = (test['NumUnemply']*1000)/test['total_pop']
test['TotTaxes'] = (test['TotTaxes']*1000)/test['total_pop']

In [305]:
#drop columns to test
test.drop(columns = ['City', 'State', 'Metro', 'CountyName','Month', 'Year','geo_id',\
                     'Labor\nForce','Employed', 'Unemployed','SizeRank', 'Year-Month'], inplace=True)


test.columns

Index(['ZIPCODE', 'Season', 'AGIncome', 'TotIncome', 'SalariesWages',
       'NumUnemply', 'TotTaxes', 'FIPSCode', 'Unemploy-\nment Rate\n(%)',
       'MortDeliq30-89', 'MortDeliq90', 'total_pop', 'median_age', 'white_pop',
       'black_pop', 'asian_pop', 'hispanic_pop', 'gini_index',
       'income_per_capita', 'vacant_housing_units_for_rent',
       'percent_income_spent_on_rent', 'high_school_diploma',
       'associates_degree', 'bachelors_degree', 'masters_degree', 'year',
       'population_change', 'natural_amenity_rank', 'value'],
      dtype='object')

In [306]:
test.drop(columns = ['ZIPCODE', 'FIPSCode'], inplace=True)

In [307]:
test.columns

Index(['Season', 'AGIncome', 'TotIncome', 'SalariesWages', 'NumUnemply',
       'TotTaxes', 'Unemploy-\nment Rate\n(%)', 'MortDeliq30-89',
       'MortDeliq90', 'total_pop', 'median_age', 'white_pop', 'black_pop',
       'asian_pop', 'hispanic_pop', 'gini_index', 'income_per_capita',
       'vacant_housing_units_for_rent', 'percent_income_spent_on_rent',
       'high_school_diploma', 'associates_degree', 'bachelors_degree',
       'masters_degree', 'year', 'population_change', 'natural_amenity_rank',
       'value'],
      dtype='object')

In [308]:
X_test = test.drop(columns = ['value'])

In [309]:
y_test = test['value']

In [310]:
X_test.shape

(17396, 26)

In [311]:
y_test.shape

(17396,)

In [845]:
X_test18.shape

(25968, 25)

In [846]:
X_test18.head()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,population_change,natural_amenity_rank
0,2,1.338135e+06,1.362983e+06,8.031643e+05,198.333333,17238.333333,3.7,0.9,0.7,92805.0,41.3,0.546037,0.099100,0.089122,0.234212,0.5968,72802.0,0.045678,28.2,0.061936,0.026087,0.216281,0.167114,6.919867,3.0
1,2,9.383310e+05,9.521218e+05,6.570033e+05,131.666667,13979.833333,4.1,2.1,1.6,70052.0,31.2,0.805002,0.025281,0.068977,0.069962,0.4956,73513.0,0.046661,25.4,0.030049,0.025824,0.363173,0.168346,0.807234,3.0
2,2,2.065178e+06,2.094322e+06,1.032039e+06,148.333333,25736.000000,3.7,0.9,0.7,62435.0,43.3,0.724626,0.037607,0.106303,0.105101,0.5604,119276.0,0.050869,24.0,0.046673,0.018419,0.262305,0.243661,2.592348,3.0
3,2,1.056339e+06,1.065394e+06,8.502032e+05,196.666667,13483.833333,3.9,NaN,NaN,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,5.879801,3.0
4,2,1.056339e+06,1.065394e+06,8.502032e+05,196.666667,13483.833333,4.4,1.7,1.1,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,5.879801,3.0

In [847]:
X_test18.shape

(25968, 25)

In [848]:
y_test19.head()

207744    3509.0
207745    1723.0
207746    3515.0
207747    1255.0
207748    1255.0
Name: value, dtype: float64

In [849]:
y_test19 = y_test19.reset_index()

In [850]:
y_test19

        index   value
0      207744  3509.0
1      207745  1723.0
2      207746  3515.0
3      207747  1255.0
4      207748  1255.0
5      207749  1255.0
6      207750  1872.0
7      207751     NaN
8      207752  3441.0
9      207753  1326.0
10     207754   898.0
11     207755  1504.0
12     207756  2025.0
13     207757  1789.0
14     207758  1287.0
15     207759  1287.0
16     207760  3383.0
17     207761  3515.0
18     207762     NaN
19     207763  1611.0
20     207764  2839.0
21     207765  2112.0
22     207766  2008.0
23     207767  2275.0
24     207768  1146.0
25     207769  1146.0
26     207770  1146.0
27     207771  1195.0
28     207772  1195.0
29     207773  2767.0
30     207774  3740.0
31     207775     NaN
32     207776  1615.0
33     207777  1441.0
34     207778  1441.0
35     207779  3787.0
36     207780  2201.0
37     207781  2919.0
38     207782  1156.0
39     207783  1156.0
40     207784  1298.0
41     207785  1298.0
42     207786     NaN
43     207787     NaN
44     207788   968.0
45     207789  1120.0
46     207790  1120.0
47     207791  2004.0
48     207792   722.0
49     207793  2542.0
...       ...     ...
25918  233662  2348.0
25919  233663  2497.0
25920  233664     NaN
25921  233665  2211.0
25922  233666  2211.0
25923  233667  1321.0
25924  233668  2115.0
25925  233669  1096.0
25926  233670  2728.0
25927  233671     NaN
25928  233672  1280.0
25929  233673     NaN
25930  233674  2212.0
25931  233675  1116.0
25932  233676  3372.0
25933  233677     NaN
25934  233678  1142.0
25935  233679  1327.0
25936  233680     NaN
25937  233681     NaN
25938  233682   705.0
25939  233683  2832.0
25940  233684   925.0
25941  233685  1423.0
25942  233686  1423.0
25943  233687     NaN
25944  233688  1145.0
25945  233689  4141.0
25946  233690   793.0
25947  233691  2773.0
25948  233692   850.0
25949  233693  1920.0
25950  233694  1219.0
25951  233695  1269.0
25952  233696  3019.0
25953  233697  1902.0
25954  233698  1347.0
25955  233699     NaN
25956  233700     NaN
25957  233701  2200.0
25958  233702  1435.0
25959  233703  1039.0
25960  233704  1186.0
25961  233705  3102.0
25962  233706     NaN
25963  233707     NaN
25964  233708  1298.0
25965  233709     NaN
25966  233710     NaN
25967  233711     NaN

[25968 rows x 2 columns]

In [851]:
y_test19 = y_test19.drop(columns = ['index'])

In [852]:
y_test19.head()

    value
0  3509.0
1  1723.0
2  3515.0
3  1255.0
4  1255.0

In [853]:
y_test19.shape

(25968, 1)

In [854]:
testset1 = pd.concat([X_test18, y_test19], axis=1)

In [855]:
testset1.head()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,population_change,natural_amenity_rank,value
0,2,1.338135e+06,1.362983e+06,8.031643e+05,198.333333,17238.333333,3.7,0.9,0.7,92805.0,41.3,0.546037,0.099100,0.089122,0.234212,0.5968,72802.0,0.045678,28.2,0.061936,0.026087,0.216281,0.167114,6.919867,3.0,3509.0
1,2,9.383310e+05,9.521218e+05,6.570033e+05,131.666667,13979.833333,4.1,2.1,1.6,70052.0,31.2,0.805002,0.025281,0.068977,0.069962,0.4956,73513.0,0.046661,25.4,0.030049,0.025824,0.363173,0.168346,0.807234,3.0,1723.0
2,2,2.065178e+06,2.094322e+06,1.032039e+06,148.333333,25736.000000,3.7,0.9,0.7,62435.0,43.3,0.724626,0.037607,0.106303,0.105101,0.5604,119276.0,0.050869,24.0,0.046673,0.018419,0.262305,0.243661,2.592348,3.0,3515.0
3,2,1.056339e+06,1.065394e+06,8.502032e+05,196.666667,13483.833333,3.9,NaN,NaN,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,5.879801,3.0,1255.0
4,2,1.056339e+06,1.065394e+06,8.502032e+05,196.666667,13483.833333,4.4,1.7,1.1,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,5.879801,3.0,1255.0

In [856]:
testset1 = testset1.dropna(subset=['value'])

In [857]:
testset1.head()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,population_change,natural_amenity_rank,value
0,2,1.338135e+06,1.362983e+06,8.031643e+05,198.333333,17238.333333,3.7,0.9,0.7,92805.0,41.3,0.546037,0.099100,0.089122,0.234212,0.5968,72802.0,0.045678,28.2,0.061936,0.026087,0.216281,0.167114,6.919867,3.0,3509.0
1,2,9.383310e+05,9.521218e+05,6.570033e+05,131.666667,13979.833333,4.1,2.1,1.6,70052.0,31.2,0.805002,0.025281,0.068977,0.069962,0.4956,73513.0,0.046661,25.4,0.030049,0.025824,0.363173,0.168346,0.807234,3.0,1723.0
2,2,2.065178e+06,2.094322e+06,1.032039e+06,148.333333,25736.000000,3.7,0.9,0.7,62435.0,43.3,0.724626,0.037607,0.106303,0.105101,0.5604,119276.0,0.050869,24.0,0.046673,0.018419,0.262305,0.243661,2.592348,3.0,3515.0
3,2,1.056339e+06,1.065394e+06,8.502032e+05,196.666667,13483.833333,3.9,NaN,NaN,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,5.879801,3.0,1255.0
4,2,1.056339e+06,1.065394e+06,8.502032e+05,196.666667,13483.833333,4.4,1.7,1.1,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,5.879801,3.0,1255.0

In [858]:
X_test18.head()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,population_change,natural_amenity_rank
0,2,1.338135e+06,1.362983e+06,8.031643e+05,198.333333,17238.333333,3.7,0.9,0.7,92805.0,41.3,0.546037,0.099100,0.089122,0.234212,0.5968,72802.0,0.045678,28.2,0.061936,0.026087,0.216281,0.167114,6.919867,3.0
1,2,9.383310e+05,9.521218e+05,6.570033e+05,131.666667,13979.833333,4.1,2.1,1.6,70052.0,31.2,0.805002,0.025281,0.068977,0.069962,0.4956,73513.0,0.046661,25.4,0.030049,0.025824,0.363173,0.168346,0.807234,3.0
2,2,2.065178e+06,2.094322e+06,1.032039e+06,148.333333,25736.000000,3.7,0.9,0.7,62435.0,43.3,0.724626,0.037607,0.106303,0.105101,0.5604,119276.0,0.050869,24.0,0.046673,0.018419,0.262305,0.243661,2.592348,3.0
3,2,1.056339e+06,1.065394e+06,8.502032e+05,196.666667,13483.833333,3.9,NaN,NaN,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,5.879801,3.0
4,2,1.056339e+06,1.065394e+06,8.502032e+05,196.666667,13483.833333,4.4,1.7,1.1,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,5.879801,3.0

In [859]:
X_test = testset1.drop(columns = ['value'])
#X_test = X_test18.copy()

In [860]:
y_test = testset1['value']
#y_test = y_test19.copy()

In [861]:
X_test.shape

(21976, 25)

In [862]:
y_test.shape

(21976,)

In [863]:
#replace nan with 0 
X_test = X_test.replace(np.nan, 0)
#y_test = y_test.replace(np.nan, 0)

In [208]:
X_test.head()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,year,population_change,natural_amenity_rank
0,2,14418.781316,14686.527306,8654.321786,2.137097,185.747894,3.7,0.9,0.7,92805.0,41.3,0.546037,0.099100,0.089122,0.234212,0.5968,72802.0,0.045678,28.2,0.061936,0.026087,0.216281,0.167114,2018.0,6.919867,3.0
1,2,13394.778165,13591.643826,9378.794800,1.879556,199.563657,4.1,2.1,1.6,70052.0,31.2,0.805002,0.025281,0.068977,0.069962,0.4956,73513.0,0.046661,25.4,0.030049,0.025824,0.363173,0.168346,2018.0,0.807234,3.0
2,2,33077.251008,33544.043138,16529.817677,2.375804,412.204693,3.7,0.9,0.7,62435.0,43.3,0.724626,0.037607,0.106303,0.105101,0.5604,119276.0,0.050869,24.0,0.046673,0.018419,0.262305,0.243661,2018.0,2.592348,3.0
3,2,9186.436674,9265.181887,7393.778245,1.710309,117.261941,3.9,0.0,0.0,114989.0,34.9,0.484420,0.076581,0.195714,0.216499,0.3801,50717.0,0.064355,26.2,0.054031,0.041143,0.221917,0.113602,2018.0,5.879801,3.0
4,2,22357.636357,22649.854621,11530.550569,1.378994,271.643200,4.1,2.1,1.6,71308.0,30.3,0.796012,0.039182,0.074073,0.060540,0.5315,82845.0,0.026565,24.1,0.032717,0.013449,0.342865,0.161553,2018.0,0.428646,3.0

In [209]:
y_test.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: value, dtype: float64

In [866]:
X_test.shape

(21976, 25)

In [867]:
y_test.shape

(21976,)

In [868]:
X_test.columns[X_test.isnull().any()]

Index([], dtype='object')

In [869]:
X_train.shape

(21718, 25)

In [312]:
#Pickle CSV
X_train.to_pickle('./data/X_train.pkl')

In [313]:
y_train.to_pickle('./data/y_train.pkl')

In [314]:
X_test.to_pickle('./data/X_test.pkl')

In [315]:
y_test.to_pickle('./data/y_test.pkl')

# Gradient Boost

In [316]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [317]:
gbm = GradientBoostingRegressor()

gbm.set_params(n_estimators = 1000, 
            learning_rate = .1, #.3,
            max_depth = 3, #2,
            min_samples_leaf = 3)

gbm.fit(X_train,y_train)

print('-'*50)
print("The train set R^2 is %.3f" %(gbm.score(X_train, y_train)))
print("The test set R^2 is %.3f" %(gbm.score(X_test,y_test)))

--------------------------------------------------
The train set R^2 is 0.945
The test set R^2 is 0.696

### Grid Search for Gradient Boost

In [769]:
X_train.head()

,Season,AGIncome,TotIncome,SalariesWages,NumUnemply,TotTaxes,Unemploy-\nment Rate\n(%),MortDeliq30-89,MortDeliq90,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,percent_income_spent_on_rent,high_school_diploma,associates_degree,bachelors_degree,masters_degree,population_change,natural_amenity_rank
0,2.0,1.222721e+06,1.247542e+06,7.633333e+05,208.333333,138435.833333,4.1,0.8,0.7,94382.0,41.7,0.540569,0.090324,0.097815,0.240713,0.5942,68995.0,0.044332,29.4,0.063561,0.027569,0.227130,0.176167,3.516101,3.0
1,2.0,8.573410e+05,8.710963e+05,6.170520e+05,161.666667,46717.166667,5.1,2.2,1.9,70103.0,31.2,0.810379,0.028273,0.065603,0.067843,0.4959,69983.0,0.050289,25.5,0.032352,0.026803,0.367145,0.168951,2.035550,3.0
2,2.0,2.270603e+06,2.299776e+06,1.031574e+06,145.000000,303624.166667,4.1,0.8,0.7,61514.0,42.6,0.720308,0.033488,0.108479,0.109406,0.5630,114641.0,0.053383,23.9,0.047436,0.017541,0.257990,0.245017,1.228203,3.0
3,2.0,1.021157e+06,1.032314e+06,8.244232e+05,300.000000,51148.166667,4.6,0.0,0.0,105854.0,34.8,0.511828,0.071570,0.180296,0.210082,0.3699,48249.0,0.057867,26.5,0.051911,0.042341,0.223761,0.111106,0.922800,3.0
4,2.0,1.021157e+06,1.032314e+06,8.244232e+05,300.000000,51148.166667,5.1,3.5,1.7,105854.0,34.8,0.511828,0.071570,0.180296,0.210082,0.3699,48249.0,0.057867,26.5,0.051911,0.042341,0.223761,0.111106,0.922800,3.0

In [148]:
y_train.head()

0      3727.0
129    1735.0
134    1735.0
360    1735.0
366    3609.0
Name: value, dtype: float64

In [221]:
# n_estimator: 

x = np.logspace(1, 4, 100)
x = x.astype(np.int64)

In [343]:
param_grid={'max_depth':[3, 5],
            'min_samples_leaf':[3, 5]}

grid_search = GridSearchCV(estimator= gbm, param_grid= param_grid)
%time grid_search.fit(X_train,y_train)

CPU times: user 44min 23s, sys: 26.7 s, total: 44min 50s
Wall time: 47min 19s

GridSearchCV(cv=None, error_score=nan,
             estimator=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0,
                                                 criterion='friedman_mse',
                                                 init=None, learning_rate=0.1,
                                                 loss='ls', max_depth=3,
                                                 max_features=None,
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=3,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=1000,
                                                 n_iter_no_change=None,
                                                 presort='deprecated',
                                                 random_state=None,
                                                 subsample=1.0, tol=0.0001,
                                                 validation_fraction=0.1,
                                                 verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [3, 5], 'min_samples_leaf': [3, 5]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [344]:
print(grid_search.best_estimator_)
print(grid_search.best_params_)
print(grid_search.best_score_)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=5,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=3, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=1000,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)
{'max_depth': 5, 'min_samples_leaf': 3}
0.9775594302758929

In [345]:
gbm.get_params

<bound method BaseEstimator.get_params of GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=3, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=1000,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)>

In [346]:
sorted(zip(X_train.columns, gbm.feature_importances_), key=lambda t:t[1], reverse=True)

AttributeError: 'NoneType' object has no attribute 'tree_'

In [470]:
#Random Forrest
from sklearn import ensemble

randomForest = ensemble.RandomForestRegressor()
bagging      = ensemble.BaggingRegressor()

randomForest.set_params(random_state=42, max_depth = 3, min_samples_split = 2, n_estimators=1000, max_features =4)

print(randomForest.fit(X_train,y_train))


print(randomForest.score(X_train,y_train))
randomForest.score(X_test,y_test)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=3, max_features=4, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)
0.4782371253589495

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
feature_importance = list(zip(X_train.columns[:-2], randomForest.feature_importances_))
dtype = [('feature', 'S10'), ('importance', 'float')]
feature_importance = np.array(feature_importance, dtype=dtype)
feature_sort = np.sort(feature_importance, order='importance')[::-1]
name, score = zip(*list(feature_sort))
pd.DataFrame({'name':name,'score':score})[:15].plot.bar(x='name', y='score')